@charset "utf-8";
/* versão para desktop */
@media only screen and (min-width: 906px) and (max-width: 1057px){
    #click-menu{
        display: block !important;
    }
    .topointerior,
    .topologoint,
    .topomenuint,
    .ultima-noticia-int,
    .container-int{
        max-width: 890px;
    }
    .left-side{
        width: 600px;
    }
    .noticia-one{
        width: 278px;
    }
    .noticia-big .info-img {
        width: 245px;
    }
    .noticia-big .info-img img {
        width: 245px;
    }
    .noticia-big .info-texto {
        font-size: 18px;
        width: 245px;
    }
    .infor-texto{
        width: 245px;
    }
    .esporte-big .info-img {
        width: 568px;
    }
    .esporte-big .info-img img {
        width: 568px;
    }
    .esporte-big .info-texto{
        width: 568px;
    }
    .esporte-big .infor-texto{
        width: 568px;
    }
}
/* versao para tablet */
@media only screen and (min-width: 783px) and (max-width: 906px){
    #click-menu{
        display: block !important;
    }
    .topointerior,
    .topologoint,
    .topomenuint,
    .ultima-noticia-int,
    .container-int{
        max-width: 768px;
    }
    .right-side {
        display: none;
    }
    .banner{
        display: none;
    }
    .logo{
        float: none;
        margin: auto;
    }
    .left-side{
        width: auto;
        float: none;
    }
    .noticia-one{
        width: 446px;
    }
    .noticia-big .info-img {
        width: 415px;
    }
    .noticia-big .info-img img {
        width: 415px;
    }
    .noticia-big .info-texto {
        width: 415px;
        font-size: 18px;
    }
    .infor-texto{
        width: 415px;
    }

    .esporte-big .info-img {
        width: 738px;
    }
    .esporte-big .info-img img {
        width: 738px;
    }
    .esporte-big .info-texto{
        width: 738px;
    }
    .esporte-big .infor-texto{
        width: 738px;
    }
}
/* versão para mobile */
@media only screen and (max-width: 783px) {
    .menu-hamburger{
        display: block;
    }
    .topointerior,
    .topologoint,
    .topomenuint,
    .ultima-noticia-int,
    .container-int{
        max-width: 320px;
    }
    .toposobre{
        display: none;
    }
    .toposocial {
        width: 100%;
    }
    .menu ul{
        position: absolute;
        background-color: #02a783;
        z-index: 10;
        display: none;
    }
    .menu li{
        float: none;
        height: auto;
    }
    .menu li img{
        display: none;
    }
    .dropdown{
        display: block;
        position: static;
        box-shadow: none;
    }
    .dropdown item{
        
    }
    .ultima-noticia{
        display: none;
    }
    .right-side {
        display: none;
    }
    .banner{
        display: none;
    }
    .logo{
        float: none;
        margin: auto;
    }
    .left-side{
        width: auto;
        float: none;
        margin-top: 5px;
    }
    .noticia-one{
        width: 320px;
    }
    .noticia-big .info-img {
        width: 290px;
    }
    .noticia-big .info-img img {
        width: 290px;
    }
    .noticia-big .info-texto {
        width: 290px;
        font-size: 18px;
    }
    .infor-texto{
        width: 290px;
    }

    .esporte-big .info-img {
        width: 290px;
    }
    .esporte-big .info-img img {
        width: 290px;
    }
    .esporte-big .info-texto{
        width: 290px;
        font-size: 15px;
    }
    .esporte-big .infor-texto{
        width: 290px;
    }
    .noticia-2{
        width: 300px;
        margin: auto;
        float: none;
        padding-top: 12px;
        clear: both;
    }
    .item-noticia{
        clear: both;
    }
    .info-texto{
        width: 206px;
    }
    .info-subtexto{
        width: 206px;
    }
}