@charset "utf-8";
@media only screen and (max-width: 1057px){
    .topointerior,
    .topologoint,
    .topomenuint,
    .ultima-noticia-int,
    .container-int{
        max-width: 890px;
    }
    .left-side{
        width: 600px;
    }
    .noticia-one{
        width: 278px;
    }
    .noticia-big .info-img {
        width: 245px;
    }
    .noticia-big .info-img img {
        width: 245px;
    }
    .noticia-big .info-texto {
        font-size: 18px;
        width: 245px;
    }
    .infor-texto{
        width: 245px;
    }
    .esporte-big .info-img {
        width: 568px;
    }
    .esporte-big .info-img img {
        width: 568px;
    }
    .esporte-big .info-texto{
        width: 568px;
    }
    .esporte-big .infor-texto{
        width: 568px;
    }
}