@charset "UTF-8";
body{
    margin: 0;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.topo{
    height: 30px;
    background-color: #00be95;
}
.topointerior{
    width: 100%;
    max-width: 1040px;
    height: 30px;
    margin: auto;
}
.toposobre{
    width: 50%;
    height: 30px;
    float: left; 
}
.toposobre ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.toposobre li{
    float: left;
    color: #fff;
    margin-left: 8px;
    margin-right: 8px;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 10pt;
}
.toposobre a{
    text-decoration: none;
    color: #fff;    
}
.toposobre a:hover{
    text-decoration: underline;
    transition: text-decoration;
}

/* .toposocial{
    width: 50%;
    height: 28px;
    float: right;
    margin-top: 2px;
}
.toposocial ol, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.toposocial li{
    float: right;
    padding-left: 3px;
    padding-right: 3px;
}
.toposocial img{
    width: 26px;
    height: 26px;
}
.toposocial input{
    float: right;
    width: 110px;
    height: 24px;
    border-radius: 2px;
    border: none;
} */
.toposocial{
    width: 50%;
    height: 28px;
    float: right;
    margin-top: 2px;
}
.toposocial a{
    float: right;
}
.topobusca{
    width: 110px;
    height: 24px;
    outline: 0;
}
.toposocial input{
    float: right;    
    border: none;
    border-radius: 2px;
}
.toposocial img{
    margin-right: 4px;
}
.topoimg{
    background-color: #02a783;
}

.topologo{
    height: 95px;    
}
.topologoint{
    width: 100%;
    max-width: 1040px;
    height: 95px;
    margin: auto;
}
.logo{
    width: 230px;
    height: 90px;
    margin-top: 5px;
    float: left;
}
.topologo .banner{
    width: 650px;
    height: 80px;
    float: right;
    margin-top: 7px;
    background-color: #02ac87;
    color: #fff;
    text-align: center;
}
/* menu */
.topomenu{
    height: 40px;
    background-color: #02a783;
}
.topomenuint{
    width: 100%;
    max-width: 1040px;
    height: 40px;   
    margin: auto;
}
.menu ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu li{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px;
}
.menu li:hover{
    background-color: #00be95;
    transition: background-color 1s;
}
.menu a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}
/* Efeito dropdown */
.dropdown{
    width: 140px;
    margin-left: -10px;
    background-color: #02a783;
    position: absolute;/*flutuante*/
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-item{
    width: 130px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    padding-left: 10px;
    
}
.dropdown-item:hover{
    background-color: #00be95;
}
.menu li:hover .dropdown{
    display: block;
}
/*//  */

/* noticias topo */
.ultima-noticia{
    height: 50px;
}
.ultima-noticia-int{
    width: 100%;
    max-width: 1040px;
    height: 50px;
    margin: auto;
}

.noticia-int{
    height: 28px;
    background-color: #fff;
    border: 1px solid #cacaca;
    margin-top: 10px;
}
.noticia-left{
    height: 28px;
    line-height: 28px;
    background-color: #02a783;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13pt;
    padding-left: 5px;
    padding-right: 5px;

}

.noticia-right{
    display: inline-block;
    height: 28px;
    line-height: 28px;
    font-size: 10pt;
}
/* // */

.container-int{
    width: 100%;
    max-width: 1040px;
    margin: auto;
}

/* slide show*/
.left-side{
    width: 753px;
    float: left;
}
.slideshow{
    height: 335px;
    background-color: #00be95;
    overflow: hidden;/*faz com elementos que não sastifazem uma determinada condição fiquem oculto
    , por padrão ele esta como (auto), outra propriedade é (scroll) que criar uma barra de rolagem*/
    margin-bottom: 20px;
}
.slideshow-area{
    width: 10000px;
    height: 335px;
    background-color: #cacaca;
    transition: all 1s;
}
.slide{
    height: 335px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;/*aumenta a largura e altura proporcionalmente para que a img cubra a area de determinada*/ 
}
.slide-info{
    background-image: url(../imagens/slideshow_bg.png);
    height: 70px;
    background-size: auto 70px;
    margin-top: 225px; /*de 265*/
}
.info-titulo{
    font-size: 20px;
    color: #fff;
    padding-top: 10px;
    padding-left: 20px;

}
.info-subtitulo{
    font-size: 12px;
    color: #fff;
    padding-left: 20px;
}
.slide-indicador{
    position: absolute;
    width: 200px;
    height: 20px;
    left: 33%;
    bottom: 13%;
}
.indicador-item{
    width: 30px;
    height: 5px;
    cursor: pointer;
    float: left;
    margin-left: 5px;
    background-color: #c0c0c0;
}
/*//slide show */

/* noticias */
.noticia-one{
    width: 430px;
    height: 420px;
    float: left;
}
.noticia-big{
    margin-left: 10px;
}
.noticia-big .info-img{
    width: 384px;
    height: 222px;
}
.noticia-big .info-img img{
    width: 384px;
    height: 222px;
}
.noticia-big .info-texto{
    font-size: 20px;
    width: 384px;
}
.infor-texto{
    width: 384px;
    margin-left: 6px;
    float: left;
}

/* esportes */
.esporte-big{
    margin-left: 10px;
}
.esporte-big .info-img{
    width: 723px;
    height: 250px;
}
.esporte-big .info-img img{
    width: 723px;
    height: 250px;
}
.esporte-big .info-texto{
    font-size: 20px;
    width: 723px;
}
.esporte-big .infor-texto{
    width: 723px;
    margin-left: 6px;
    float: left;
}

/* // */
.noticia-2{
    width: 320px;
    height: 420px;
    float: right;
}
.item-noticia{
    text-align: left;
    height: 88px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.info-img{
    width: 80px;
    height: 80px;
    border: 1px solid #999;
    padding: 3px;
    float: left;
}
.info-texto{
    width: 226px;
    float: left;
    font-size: 10pt;
    margin-left: 6px;
}
.info-subtexto{
    width: 226px;
    margin-left: 6px;
    float: left;
    color: #cacaca;
}
/* // */

/*  */
.right-side{
    width: 275px;
    min-height: 200px;
    float: right;
    margin-left: 12px;
    /* background-color: #02a783; */
}
.widget{
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.widget-titulo{
    border-bottom: 1px solid #ccc;
    background-color: #02a783;
    color: #fff;
    font-size: 12pt;
    padding-left: 5px;
    text-transform: uppercase;
}
.widget-conteudo{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 2px;
}
.noticia-item{
    font-size: 14px;
    margin: 0 10px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    text-align: justify;
}
.noticia-item a{
    text-decoration: none;
    color: #000;
}
/*  */
.rodape{
    clear: both;
    background-color: #02a783;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
.copy{
    background-color: #474747;
    padding: 8px;
    text-align: center;
    color: #fff;
}